@model NetTestMayapada.ViewModels.UserViewModel

<div class="container mt-5 mb-3">
    <div class="card shadow-lg p-4 mx-3">
        <h3>Edit User</h3>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserNumber" />

            <div class="mb-3">
                <label class="form-label">Nama</label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Level</label>
                <select asp-for="Level" class="form-select">
                    <option value="Administrator" selected="@(Model.Level=="Administrator")">Administrator</option>
                    <option value="User" selected="@(Model.Level=="User")">User</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Foto Profil</label><br />
                @if (!string.IsNullOrEmpty(Model.PhotoProfile))
                {
                    <img src="@Model.PhotoProfile" width="60" height="60" class="rounded-circle mb-2" />
                }
                <input type="file" name="PhotoProfileFile" class="form-control" />
            </div>
            <div class="mb-3 form-check">
                <input asp-for="isActive" class="form-check-input" />
                <label class="form-check-label">Aktif</label>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a asp-action="Index" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>
